.img-slide {
    width: 42rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.slides {
    max-width: 100%;
}
