.li__img-category {
    width: 35rem;
    height: 25rem;

    border-radius: 1rem;
}

.category__nav-list_item {
    color: rgb(209, 222, 209);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
