.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    box-shadow: 0 15px 35px rgb(0, 0, 0);
    background: #222;
    color: #0f0;

    position: relative;
    min-height: 7%;
}

@media (max-width: 485px) {
    .header {
        flex-direction: column;
        padding: 1rem 4rem;
        align-items: flex-end;
    }
}
