.form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: 600px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

@media (max-width: 850px) {
    .form-registration {
        width: 570px;
    }
}

@media (max-width: 780px) {
    .form-registration {
        width: 550px;
    }
}

@media (max-width: 710px) {
    .form-registration {
        width: 500px;
    }
}

@media (max-width: 670px) {
    .form-registration {
        width: 450px;
    }
}

@media (max-width: 610px) {
    .form-registration {
        width: 400px;
    }
}

@media (max-width: 570px) {
    .form-registration {
        width: 380px;
    }
}

@media (max-width: 470px) {
    .form-registration {
        width: 350px;
    }
}

@media (max-width: 430px) {
    .form-registration {
        width: 330px;
    }
}

@media (max-width: 400px) {
    .form-registration {
        width: 310px;
    }
}

@media (max-width: 360px) {
    .form-registration {
        width: 270px;
    }
}
