.modal-delete {
    display: flex;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: gainsboro;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
}
