.container-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 310px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgb(0, 0, 0);
}
