.cardbag {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0 15px 35px rgb(0, 0, 0);
    background: #222;
    border-radius: 10px;
}
