.card__price-product {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 105%;
        height: 2px;
        background: rgb(154, 206, 154);
        transform: rotate(-9deg);
        transform-origin: left center;
    }
}
