.pagination__btn {
    z-index: 1000;
    background: linear-gradient(135deg, #444444, #888888);
    border: none;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition:
        background 0.3s,
        transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination__btn:hover {
    background: linear-gradient(135deg, #666666, #aaaaaa);
    transform: scale(1.05);
}

.pagination__btn:active {
    background: linear-gradient(135deg, #555555, #999999);
    transform: scale(1.02);
}

.pagination__btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.pagination__btn:disabled {
    background: linear-gradient(135deg, #222222, #555555);
    cursor: not-allowed;
    opacity: 0.6;
}

.pagination__input {
    z-index: 1000;
    width: 50px;
    height: 35px;
    text-align: center;
    border: 2px solid #888888;
    border-radius: 50px;
    font-size: 16px;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3rem 0 0 0;
}
