.card__title-bag {
    color: azure;
    font-size: 17px;
}

@media (max-width: 650px) {
    .card__title-bag {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .card__title-bag {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .card__title-bag {
        font-size: 10px;
    }
}
