.empty__img {
    height: 30rem;
    width: 35rem;
}

@media (max-width: 1500px) {
    .empty__img {
        height: 30rem;
        width: 35rem;
    }
}

@media (max-width: 1400px) {
    .empty__img {
        height: 29rem;
        width: 34rem;
    }
}

@media (max-width: 1300px) {
    .empty__img {
        height: 29rem;
        width: 34rem;
    }
}

@media (max-width: 1200px) {
    .empty__img {
        height: 28rem;
        width: 32rem;
    }
}

@media (max-width: 1100px) {
    .empty__img {
        height: 28rem;
        width: 32rem;
    }
}

@media (max-width: 1000px) {
    .empty__img {
        height: 26rem;
        width: 30rem;
    }
}

@media (max-width: 900px) {
    .empty__img {
        height: 26rem;
        width: 30rem;
    }
}

@media (max-width: 800px) {
    .empty__img {
        height: 24rem;
        width: 28rem;
    }
}

@media (max-width: 700px) {
    .empty__img {
        height: 24rem;
        width: 28rem;
    }
}

@media (max-width: 600px) {
    .empty__img {
        height: 22rem;
        width: 26rem;
    }
}

@media (max-width: 500px) {
    .empty__img {
        height: 20rem;
        width: 24rem;
    }
}

@media (max-width: 400px) {
    .empty__img {
        height: 16rem;
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .empty__img {
        height: 14rem;
        width: 18rem;
    }
}
