.user-card__img {
    height: 25rem;
    width: 25rem;
}

@media (max-width: 1500px) {
    .user-card__img {
        height: 23rem;
        width: 23rem;
    }
}

@media (max-width: 1400px) {
    .user-card__img {
        height: 21rem;
        width: 21rem;
    }
}

@media (max-width: 1300px) {
    .user-card__img {
        height: 19rem;
        width: 19rem;
    }
}

@media (max-width: 1200px) {
    .user-card__img {
        height: 17rem;
        width: 17rem;
    }
}

@media (max-width: 1100px) {
    .user-card__img {
        height: 15rem;
        width: 15rem;
    }
}

@media (max-width: 1000px) {
    .user-card__img {
        height: 13rem;
        width: 13rem;
    }
}

@media (max-width: 900px) {
    .user-card__img {
        height: 11rem;
        width: 11rem;
    }
}

@media (max-width: 800px) {
    .user-card__img {
        height: 10rem;
        width: 10rem;
    }
}

@media (max-width: 700px) {
    .user-card__img {
        height: 10rem;
        width: 10rem;
    }
}

@media (max-width: 600px) {
    .user-card__img {
        height: 9rem;
        width: 9rem;
    }
}

@media (max-width: 500px) {
    .user-card__img {
        height: 8rem;
        width: 8rem;
    }
}

@media (max-width: 400px) {
    .user-card__img {
        height: 7rem;
        width: 7rem;
    }
}

@media (max-width: 360px) {
    .user-card__img {
        height: 6rem;
        width: 6rem;
    }
}
